@import "variable-mixins"; 

* {
    animation-duration: 1s;
}
body {
    margin: 0;
    background-color: aliceblue;
}

ul {
    list-style: none;
}

h1 {
    @include text($size:38px, $weight: 500);
}

h2 {
    @include text($size:29px, $weight: 500);
}

.adjust-container {
    background-color: $darkerwhite;
    width: 400px;
    color: black;
    border-radius: 10px;
    position: fixed;
    top: 20px;
    left: 20px;
    box-shadow: $shadow;
    padding: 20px;
    @include text($size:18px, $weight: 300);
}

.gradient-stop {
    .top {
        i {
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -12px;
            width: 24px;
            height: 12px;
            overflow: hidden;

            i::after {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(50%, -50%) rotate(-45deg);
                background-color: #000000d6;
            }
        }

        min-width: 100px;
        top:50%;
        left:100%;
        margin-left:20px;
        transform:translate(0, -50%);
        padding: 3px 3px;
        color: #e3e3e3;
        background-color: #000000d6;
        font-weight: normal;
        font-size: 13px;
        border-radius: 8px;
        position: absolute;
        z-index: 9;
        box-sizing: border-box;
        display: none;
        text-align:center;
        animation-name: none;
        animation-duration: 0.5s;
    }

    width: 80%;
    border-radius: 5px;
    background-color: $darkwhite;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.gradient-stop:hover {
    opacity: 0.8;
    @include transform($property: scale(1.02));

    .top {
        display: block;
        animation-name: fade-in;
    }
}

.gradient-text {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 30px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stop-modal {
    position: fixed;
    z-index: 5;
    top: 20%;
    bottom: 20%;
    right: 30%;
    left: 30%;
    background-color: rgb(243, 243, 243);
    border: 2px solid #ccc;
    box-shadow: $shadow;
    border-radius: 20px;
    animation-duration: 0.8s;
    display: none;
}

#overlay {
    @include overlay;
    transition: 0.5s;
    opacity: 0;
    display: none;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.685)
}

@keyframes scale-in {
    from {
        @include transform($property: scale(0.2));
        opacity: 0;
    }
}

@keyframes scale-out {
    to {
        @include transform($property: scale(0.2));
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}