$bgcolor: #fff;
$darkwhite: #eee;
$shadow: 0 0 30px 10px rgba(0, 0, 0, 0.141);
$fontfamily: Inter, sans-serif;

@mixin text($size: 20px, $weight: 300) {
    font-family: Inter, sans-serif;
    font-size: $size;
    font-weight: $weight;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

body {
    margin: 0;
    background-color:$bgcolor;
}

ul {
    list-style: none;
}

h1 {
    @include text($size:38px, $weight: 500);
}

h2 {
    @include text($size:29px, $weight: 500);
}

.adjust-container {
    background-color:rgb(190, 190, 190);
    width:400px;
    color:rgb(0, 0, 0);
    border-radius:10px;
    position:fixed;
    top:20px;
    left:20px;
    box-shadow: $shadow;
    padding:20px;
    @include text($size:18px, $weight: 300);
}

.gradient-stop {
    width:80%;
    border-radius:5px;
    background-color:#eee;
    padding:10px;
    margin:10px;
    margin-left:0;
    border:#ddd 2px solid;
    font-size:20px;
    transition:0.3s;
    cursor:pointer;
}

.gradient-stop:hover {
    background-color:rgb(232, 232, 232);
    @include transform($property: scale(1.02));
}

.gradient-text {
    position:absolute;
    right:40px;
    top:40px;
    font-size:30px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stop-modal {
    position:fixed;
    z-index:5;
    top:20%;
    bottom:20%;
    right:30%;
    left:30%;
    background-color:rgb(243, 243, 243);
    border:2px solid #ccc;
    box-shadow:0 0 40px 10px rgba(0, 0, 0, 0.141);
    border-radius:20px;
    animation-duration:1s;
    display:none;
}

#overlay {
    transition:0.5s;
    opacity:0;
    display:none;
    position:fixed;
    z-index:4;
    bottom:0;
    left:0;
    top:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.685)
}

@keyframes scale-in {
    from {transform:scale(0.2); opacity:0;}
}

@keyframes scale-out {
    to {transform:scale(0.2); opacity:0;}
}